# vim: syntax=bash

pyenv virtualenv 3.13.7 barcodes
pyenv local barcodes
echo "Virtualenv has been activated for $(python -V)"
echo "$(which python)"

python3 -m venv .venv
source .venv/bin/activate
