* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Source Sans Pro, Arial, sans-serif;
  background: #899fbb;

  display: flex;
  flex-flow: column;
}

#scanner {
  position: relative;
  width: 320px;
  height: 240px;
}
.debug #scanner {
  visibility: visible !important;
}

#overlay {
  z-index: 998;
  font-family: Arial, sans-serif;
}
.fullscreen {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.barcode-polygon {
  fill: rgba(85, 240, 40, 0.5);
  stroke: green;
  stroke-width: 1;
}
.barcode-text {
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 20px;
  fill: rgba(85, 240, 40, 1);
}

#banner {
  background: #2c489a;
  color: white;
  padding: 16px 64px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

#main {
  display: flex;
  flex-flow: column;
  flex: 1;
  gap: 16px;
  padding: 16px 64px 64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
}

.column {
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
  flex-flow: row;
}

.full {
  flex: 1;
}

.panel {
  background: white;
  border-radius: 8px;
  overflow: hidden;
}
.panel .header {
  background: #2c489a;
  color: white;
  padding: 8px;
  text-align: center;
}
.panel .content {
  padding: 12px;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.overflow {
  overflow: auto;
}

.emph {
  color: #2c489a;
}
.large {
  font-size: 20px;
  font-weight: 600;
}
.huge {
  font-size: 28px;
  font-weight: 600;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}
table#log {
  font-weight: 700;
}
table#log th {
  position: sticky;
  top: 0;
  padding: 8px 8px;
  background: white;
  color: #2c489a;
  border-bottom: 1px #2c489a solid;
}
table#log tbody tr:last-child {
  background: #32a6ff;
  color: white;
}
table#log tbody td {
  padding: 4px 8px;
  text-transform: uppercase;
  font-size: 15px;
}

table th:nth-child(1),
table td:nth-child(1) {
  text-align: center;
}
table th:nth-child(2),
table td:nth-child(2) {
  text-align: right;
}
table th:nth-child(3),
table td:nth-child(3) {
  text-align: left;
}
table th:nth-child(4),
table td:nth-child(4) {
  text-align: center;
}
table th:nth-child(5),
table td:nth-child(5) {
  text-align: left;
}
table th:nth-child(6),
table td:nth-child(6) {
  text-align: right;
}
